*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(102, 102, 100);
  min-height: 100vh;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App h1 {
  padding: 20px;
}

.Timer h1 {
  margin-top: 10px;
}

.a1 {
  color: white;
  border: 3px solid black;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 8px;
}

.a2 {
  color: white;
  border: 3px solid black;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 8px;

}

.a1:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.a2:hover {
  color: black;
  background-color: white;
  border-color: white;
}